.glitchBtn {
  height: auto;
  background: transparent;
  padding: 0.25rem 0.5rem;
  border: none;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  color: var(--foreground);
  font-family: var(--font-body);
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s;
  z-index: 1;
}

.glitchBtn:hover {
  color: #fff;
}

.hoverBg {
  position: absolute;
  box-sizing: border-box;
  content: "";
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: width 0.4s ease-out;
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-via-1), var(--gradient-via-2), var(--gradient-via-3), var(--gradient-via-4), var(--gradient-end));
  border-radius: 0.5rem;
  z-index: -1;
}

.glitchBtn:hover .hoverBg {
  width: 100%;
}
